@media (min-width: 1000px) {
    .projects{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.3rem;
        }
        .projects__title{
            width: 200px;

        }
    }
    .projects__title-additional{
        padding-bottom: 30px;
    }
    .projects__slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        grid-gap: 15px
    }
    .projects__slider img {
        height: 300px;
        object-fit: cover;
        vertical-align: top;
    }
}
