@media (min-width: 1000px) {
    .services{
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.3rem;
        }
        .services__title{
            width: 200px;

        }
    }
}